@media(min-width:768px){
    h2 {
        font-size:23px;
    }
    h1{
        font-size:75px;
    }
    p{
        
    }
}
@media(max-width:768px){
    h2 {
        font-size:45px;
    }
    h1{
        font-size:50px;
    }
    p{
        
    }
}
@media(min-width:991px){
    h2 {
        font-size:40px;
    }
    h1 {
        font-size:98px;
    }
    p{
        
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



